<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "shortcut icon" type="image/png" href='/image/just-do-it-1432951__340.png'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap" rel="stylesheet"> 
    <title>Let's do To-Do!</title>
</head>
<body class='todoMain'>    
    <div class="todoDivOne">
        <h1>Do you have things to do?</h1>
        <img src='/image/just-do-it-1432951__340.png' alt="'sticky note">
        <h2>Create your very own to-do list!</h2>
        <div class="loginButtons">
            <a href="/login"><div class="login-button">Login</div></a>
            <a href="/signup"><div class="login-button second">Signup</div></a>
        </div>        
    </div>
    
    <footer id="footer">
        <p class="copyright">&copy; & Design by <a href="https://leonnoel.com/100devs/" target="_blank">#100Devs</a>: <a href="https://github.com/BDv5" target="_blank">Brent Downs</a>, <a href="https://github.com/Chaseocodes" target="_blank">Chase O'Hara</a>, <a href="https://github.com/frazie" target="_blank">Frazier Odhiambo</a>, <a href="https://github.com/eggsmayhem" target="_blank">Sabrina Pyles</a> and <a href="https://github.com/ChrisThompsonDev" target="_blank">Chris Thompson</a>. All rights reserved.</p>
    </footer>

</body>
</html>