<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Let's do To-Do! - Signup!</title>
</head>
<body class="signUpMain">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="signUpDivOne">
        <img src='/image/just-do-it-1432951__340.png' alt="'sticky note">
        <form action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" value="Signup!">
        </form>
    </div>
    

    <br>
    <div class="section">

        <!-- button initiating the sign in with google prompt -->

        <!-- <button >
            <a href="/google" class="btn red darken-1">
                <i class="fab fa-google left"></i> Sign in with Google
            </a>
            
        </button> -->
    </div>

    <footer id="footer">
        <p class="copyright">&copy; & Design by <a href="https://leonnoel.com/100devs/" target="_blank">#100Devs</a>: <a href="https://github.com/BDv5" target="_blank">Brent Downs</a>, <a href="https://github.com/Chaseocodes" target="_blank">Chase O'Hara</a>, <a href="https://github.com/frazie" target="_blank">Frazier Odhiambo</a>, <a href="https://github.com/eggsmayhem" target="_blank">Sabrina Pyles</a> and <a href="https://github.com/ChrisThompsonDev" target="_blank">Chris Thompson</a>. All rights reserved.</p>
    </footer>

</body>
</html>