* {
    box-sizing: border-box;
}

h1{
    color:hsl(90, 12%, 58%); 
}
.category-name {
    color: hsl(182, 83%, 9%);
}

.logout-button {
    background-color: hsl(90, 12%, 58%);
    padding: 12%;
    border-radius: 6px;
    width: 100px;
    text-align: center;
}

.nav>a {
    text-decoration: none;
    color: hsl(182, 83%, 9%);
    font-size: 20px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(182, 83%, 9%);
    color: hsl(90, 12%, 58%);
    width: 100vw;
    position: sticky;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(325, 15%, 51%);
    /* height: 100vh; */
}

.todos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.category-container {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.priority-container {
    display: flex;
}


.todoItem {
    background-color: green;
    padding: 4%;
    list-style: none;
    margin: 3%;
    border-radius: 10px;
}
.tomorrow{
    background-color: yellow;
}
.overdue {
    background-color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


.post-form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-form > * {
    padding: 2%;
    margin-bottom: 2%;
}

/********************
Index page
********************/


.todoMain { 
    background: lightgray;
}

.todoDivOne {
    margin: 2%;
    padding: 2%;
    height: 80%;
    text-align: center;    
}
.todoDivOne h1 {
    font-family: 'Merriweather', serif;   
    font-weight: 700; 
    font-size: 50px;
    color: hsl(345, 81%, 36%)
}
.todoDivOne h2 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: hsl(143, 89%, 19%);
    font-size: 40px;
}
.loginButtons {
    display: inline-block;  
}

.login-button {
    background-color: hsl(90, 12%, 58%);
    padding: 12%;
    border-radius: 6px;
    width: 100px;
    text-align: center;
    margin: 2%;    
}

a {
    color: black;
    text-decoration: none;
}

/*********************
Login & signup pages
*********************/

.loginMain, .signUpMain{
    background: lightgray;
}

.logInDivOne, .signUpDivOne {
    margin: auto;
    width: 360px;
}

input[type=email], input[type=password], input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}