html {
    background: linear-gradient(90deg, rgba(81,46,191,1) 0%, rgba(146,63,244,1) 100%, rgba(0,0,0,0.13627449270723913) 100%);
}

* {
    box-sizing: border-box;
}

h1{
    color:hsl(90, 12%, 58%); 
}

.user-welcome {
    color:rgb(6, 138, 114);
}

.category-name {
    color:rgb(15, 174, 148);
    align-self: center;
    text-decoration: underline;
}

.logout-button {
    background-color: hsla(263, 60%, 56%, 0.364);
    border: 2px solid rgb(234, 83, 234);
    color: white;
    padding: 12%;
    border-radius: 6px;
    width: 100px;
    text-align: center;
}

.nav>a {
    text-decoration: none;
    font-size: 20px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(182, 83%, 9%, 0.708);
    border: 2px solid rgb(22, 93, 22);
    width: 100vw;
    position: sticky;
    top: 0;
    height: 65px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: hsl(325, 15%, 51%); */
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(146,63,244,1) 50%, rgba(0,0,0,0.13627449270723913) 100%); */
    /* background: linear-gradient(90deg, rgba(159,46,191,1) 0%, rgba(146,63,244,1) 52%, rgba(0,0,0,0.13627449270723913) 88%); */
    /* background: linear-gradient(90deg, rgba(159,46,191,1) 0%, rgba(146,63,244,1) 100%, rgba(0,0,0,0.13627449270723913) 100%); */
    /* background: linear-gradient(90deg, rgba(81,46,191,1) 0%, rgba(146,63,244,1) 100%, rgba(0,0,0,0.13627449270723913) 100%); */
   
}



.category-container {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
  
}


.priority-container {
    display: flex;
    flex-direction: column;
}

.priority-container > h4 {
    align-self: center;
}

.align-todos {
    display: flex;
    flex-direction: row;
}


.horizontal-lis {
    display: flex;
    flex-wrap: wrap;
}



.todoItem {
    background-color: rgba(0, 128, 0, 0.431);
    border: 2px solid rgb(22, 231, 22);
    box-shadow: 12px 12px 2px 1px rgba(7, 61, 22, 0.286);
    padding: 7%;
    list-style: none;
    margin: 3%;
    border-radius: 10px;
}
.tomorrow{
    background-color: rgba(255, 255, 0, 0.399);
    border: 2px solid yellow;
}
.overdue {
    background-color: rgba(255, 0, 0, 0.456);
    border: 2px solid red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


.post-form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-form > * {
    padding: 2%;
    margin-bottom: 2%;
}



/* INPUT FORM AND  TODOS WRAPPER*/
.form-todos-wrapper{
    width: 100%;
    /* height:100vh; */
    display: flex;
    gap: 200px;
    justify-content: flex-start; 
    padding: 2%;
}

/* MEDIA QUERY FOR FORMS */
@media only screen and (max-width: 412px){
    .form-todos-wrapper{
        display: flex;
        flex-direction: column;
        gap:0px;
    }


}

/********************
Index page
********************/


.todoMain { 
    /* background: linear-gradient(90deg, rgba(81,46,191,1) 0%, rgba(146,63,244,1) 100%, rgba(0,0,0,0.13627449270723913) 100%); */
}

.todoDivOne {
    margin: 2%;
    padding: 2%;
    height: 80%;
    text-align: center;    
}
.todoDivOne h1 {
    font-family: 'Merriweather', serif;   
    font-weight: 700; 
    font-size: 50px;
    color: hsl(345, 47%, 63%)
}
.todoDivOne h2 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: hsl(134, 71%, 66%);
    font-size: 40px;
}
.loginButtons {
    display: inline-block;  
}

.login-button {
    background-color: hsl(90, 12%, 58%);
    padding: 12%;
    border-radius: 6px;
    width: 100px;
    text-align: center;
    margin: 2%;    
}

a {
    color: black;
    text-decoration: none;
}

/*********************
Login & signup pages
*********************/

.loginMain, .signUpMain{
    /* background: linear-gradient(90deg, rgba(81,46,191,1) 0%, rgba(146,63,244,1) 100%, rgba(0,0,0,0.13627449270723913) 100%); */
}

.logInDivOne, .signUpDivOne {
    margin: auto;
    width: 360px;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todos-input {
    background-color: rgba(0, 0, 0, 0.331) !important;
    border: 2px solid black !important;
}

/*********************
Footer
*********************/
footer {
    padding: 40px 30px 30px 0;
    text-align: center;
    color: rgb(198, 196, 196);
    text-shadow: 1px 1px #000000;
}
footer a {
    color: rgb(255, 254, 254);
    text-decoration: underline;
    font-weight: bold;
}